<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>xin chao<%= title %>
  </h1>
  <p>Welcome toxin chao <%= title %>
  </p>
</body>

</html>